<div class="mt-[70px] p-5">
  @if(isLoading){
  <div
    class="h-[50vh] uppercase text-2xl flex items-center justify-center animate-pulse bg-gray-50"
  >
    <div class="animate-spin text-slate-400 fill-slate-400">
      <svg class="search-icon transition" width="60" height="60">
        <use href="./assets/icons.svg#icon-search"></use>
      </svg>
    </div>
  </div>
  } @else {

  <div class="flex">
    @if(movie.poster_path){
    <img
      [src]="path + movie.poster_path"
      [alt]="movie.original_title"
      class="object-cover h-[450px]"
    />}@else {
    <img
      src="https://images.pexels.com/photos/3825273/pexels-photo-3825273.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="no image"
      class="h-[450px] object-cover"
    />
    }
    <div class="flex flex-col gap-3 px-3">
      <p class="text-md mt-2 font-bold">
        {{ movie.original_title }}
      </p>
      <p class="text-sm mt-2 font-bold">
        {{ movie.overview }}
      </p>
      <p class="text-sm mt-2 font-normal">
        Genre: @for (genre of movie.genres; track genre.id) {
        <span class="font-black">{{ genre.name }}, </span>
        }
      </p>
      <p class="text-sm mt-2 font-normal">
        Rating: <span class="font-black">{{ movie.vote_average }}</span>
      </p>
      <p class="text-sm mt-2 font-normal">
        Release date: <span class="font-black">{{ movie.release_date }}</span>
      </p>
      <p class="text-sm mt-2 font-normal">Companies:</p>
      <ul class="flex flex-col md:flex-row gap-3">
        @for (logo of movie.production_companies; track logo.id) {
        <li>
          @if(logo.logo_path){
          <img
            [src]="path + logo.logo_path"
            [alt]="logo.name"
            class="object-contain max-w-[180px] h-[30px]"
          />}@else {
          <img
            src="https://louisville.edu/research/handaresearchlab/pi-and-students/photos/nocamera.png/image"
            alt="no image"
            class="h-[30px] object-cover"
          />
          }
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="flex gap-4 justify-center my-4">
    <a
      routerLink="cast"
      routerLinkActive="active"
      class="relative font-bold text-xl rounded-3xl bg-transparent py-1 hover:text-gray-500 transition"
    >
      Cast
    </a>
    <button
      routerLink="reviews"
      routerLinkActive="active"
      class="relative font-bold text-xl rounded-3xl bg-transparent py-1 hover:text-gray-500 transition"
    >
      Reviews
    </button>
  </div>
  <router-outlet></router-outlet>
  <div
    class="background"
    style="background-image: url('{{ path + movie.backdrop_path }}')"
  ></div>
  }
</div>
