<div class="mt-[70px] pb-[40px]">
  <h2 class="line">Most Popular Movies</h2>
  @if(isLoading){
  <div
    class="h-[50vh] uppercase text-2xl flex items-center justify-center animate-pulse bg-gray-50"
  >
    <div class="animate-spin text-slate-400 fill-slate-400">
      <svg class="search-icon transition" width="60" height="60">
        <use href="./assets/icons.svg#icon-search"></use>
      </svg>
    </div>
  </div>
  } @else {
  <ul class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-8 mx-8">
    @for (movie of movies; track movie.id) {
    <li class="relative transition-all">
      @if(favorites){
      <button
        class="absolute right-2 top-1 p-1 rounded-xl z-30 transition-all hover:scale-125"
        type="button"
        (click)="switchFavorite(movie.id)"
      >
        @if(checkFavorite(movie.id)){
        <svg width="28" height="28">
          <use href="./assets/icons.svg#icon-heartFilled"></use>
        </svg>
        } @else{
        <svg width="28" height="28">
          <use href="./assets/icons.svg#icon-heartEmp"></use>
        </svg>
        }
      </button>
      } @else{ }
      <a
        class="flex flex-col items-center shadow-sm overflow-hidden hover:shadow-xl transition-all"
        routerLink="movies/{{ movie.id }}"
      >
        @if(movie.backdrop_path){
        <img
          [src]="path + movie.poster_path"
          [alt]="movie.original_title"
          class="w-full h-auto object-cover"
        />
        } @else {
        <img
          src="https://images.pexels.com/photos/3825273/pexels-photo-3825273.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="no image"
          class="w-full h-auto object-cover"
        />
        }
        <p class="text-sm sm:text-xs 2xl:text-sm mt-2 font-bold truncate">
          {{ movie.original_title }}
        </p>
        <p class="text-sm md:text-xs 2xl:text-sm font-light">
          Rating: {{ movie.vote_average }}
        </p>
        <p class="text-sm md:text-xs 2xl:text-sm font-light">
          Release date: {{ movie.release_date }}
        </p>
      </a>
    </li>
    }
  </ul>
  }
</div>
