.socials {
  @apply flex justify-center;

  &__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @apply flex justify-center items-center;

    &:hover .socials__icon,
    &:focus .socials__icon {
      fill: var(--accent-color);
    }
  }

  &__icon {
    @apply transition;

    &--gray {
      fill: var(--text-dark);
    }
  }
}

.line {
  background-color: #75757576;
  height: 10px;
  @apply blur-sm;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #757575;
  left: 0;
  top: 25px;
  @apply blur-sm;
}
