<div class="font-crimson-text items-center">
  <header class="container my-0 mx-auto">
    <nav class="flex justify-between items-center py-4 px-8">
      <span class="text-3xl uppercase font-black">Movies</span>
      <div class="flex gap-4 font-bold">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="relative text-base hover:text-[#757575] transition"
        >
          Home
        </a>
        <a
          routerLink="/movies"
          routerLinkActive="active"
          class="relative text-base hover:text-[#757575] transition"
        >
          Search
        </a>
        <a
          routerLink="/favorites"
          routerLinkActive="active"
          class="relative text-base hover:text-[#757575] transition"
        >
          Favorites
        </a>
      </div>
      <div class="flex justify-center items-center gap-5">
        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="line"></div>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="line"></div>
  <footer class="container">
    <div>Footer Lorem ipsum dolor sit amet.</div>
  </footer>
</div>
