.header {
  background-color: rgba(255, 255, 255, 0.886);
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
}

.socials {
  @apply flex justify-center;

  &__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @apply flex justify-center items-center;

    &:hover .socials__icon,
    &:focus .socials__icon {
      fill: var(--accent-color);
    }
  }

  &__icon {
    @apply transition;

    &--gray {
      fill: var(--text-dark);
    }
  }
}

.line {
  background-color: #75757576;
  height: 10px;

  @apply blur-sm;
}

.link {
  @apply relative;

  &.active {
    color: var(--accent-color);
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #757575;
      left: 0;
      top: 25px;
      @apply blur-sm transition-all duration-300;
    }
  }
  &:hover::after {
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #757575;
    left: 0;
    top: 25px;
    @apply blur-sm transition-all duration-300;
  }
}

.footer {
  background-color: rgba(255, 255, 255, 0.886);
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
}
