<div class="font-crimson-text items-center">
  <header class="container">
    <nav class="flex justify-between items-center py-4 px-8">
      <span class="text-3xl uppercase">Movies</span>
      <div class="flex gap-4">
        <a href="/" class="text-sm uppercase hover:text-[#757575] transition">
          Home
        </a>
        <a href="/" class="text-sm uppercase hover:text-[#757575] transition">
          Search
        </a>
        <a href="/" class="text-sm uppercase hover:text-[#757575] transition">
          Favorites
        </a>
      </div>
      <div class="flex justify-center items-center gap-5">
        <ul class="socials list">
          <li class="socials__item">
            <a class="socials__link link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link link" href="">
              <svg
                class="socials__icon socials__icon--gray"
                width="20"
                height="20"
              >
                <use href="./assets/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="line">
    <div></div>
  </div>
  <main></main>
  <footer class="container">
    <div>Lorem ipsum dolor sit amet.</div>
  </footer>
</div>
