<div class="flex justify-center items-center my-5 mt-[90px] gap-2">
  <input
    id="filter"
    placeholder="Type movie to search"
    class="input"
    type="text"
    [(ngModel)]="filter"
  />
  <button
    type="submit"
    class="text-black hover:text-slate-500 transition"
    (click)="searchMovies()"
  >
    <svg class="search-icon transition" width="30" height="30">
      <use href="./assets/icons.svg#icon-search"></use>
    </svg>
  </button>
</div>
@if(isLoading){
<div
  class="h-[50vh] uppercase text-2xl flex items-center justify-center animate-pulse bg-gray-50"
>
  <div class="animate-spin text-slate-400 fill-slate-400">
    <svg class="search-icon transition" width="60" height="60">
      <use href="./assets/icons.svg#icon-search"></use>
    </svg>
  </div>
</div>
} @else {
<ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mx-8 mb-[40px]">
  @for (movie of foundedMovies; track movie.id) {
  <li>
    <a
      class="flex flex-col items-center shadow-sm hover:shadow-xl transition-all"
      routerLink="{{ movie.id }}"
    >
      @if(movie.poster_path){
      <img
        [src]="path + movie.poster_path"
        [alt]="movie.original_title"
        class="w-full h-auto object-cover"
      />
      } @else {
      <img
        src="https://images.pexels.com/photos/3825273/pexels-photo-3825273.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="no image"
        class="w-full h-auto object-cover"
      />
      }
      <p class="text-sm mt-2 font-bold">{{ movie.original_title }}</p>
      <p class="text-sm font-light">Rating: {{ movie.vote_average }}</p>
      <p class="text-sm font-light">Release date: {{ movie.release_date }}</p>
    </a>
  </li>
  }
</ul>
}
