<div class="flex justify-center items-center my-5 mt-[90px] gap-2">
  <input
    id="filter"
    placeholder="Type movie to search"
    class="input"
    type="text"
    [(ngModel)]="filter"
  />
  <button
    type="submit"
    class="text-black hover:text-slate-500 transition"
    (click)="searchMovies()"
  >
    <svg class="search-icon transition" width="30" height="30">
      <use href="./assets/icons.svg#icon-search"></use>
    </svg>
  </button>
</div>
<ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mx-8">
  @for (movie of foundedMovies; track movie.id) {
  <li
    class="flex flex-col items-center shadow-sm hover:shadow-xl transition-all"
  >
    @if(movie.poster_path){
    <img
      [src]="path + movie.poster_path"
      [alt]="movie.original_title"
      class="w-full h-auto object-cover h-[350px]"
    />
    } @else {
    <img
      src="https://images.pexels.com/photos/3825273/pexels-photo-3825273.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="no image"
      class="w-full h-auto object-cover h-[350px]"
    />
    }
    <p class="text-sm mt-2 font-bold">{{ movie.original_title }}</p>
    <p class="text-sm font-light">Rating: {{ movie.vote_average }}</p>
    <p class="text-sm font-light">Release date: {{ movie.release_date }}</p>
  </li>
  }
</ul>
