.input {
  @apply bg-slate-100 border-slate-200 border-2 rounded-md px-2 py-1;
  &:hover,
  &:focus {
    @apply bg-slate-50;
    outline: none;
  }
}

.search-icon {
  fill: currentColor;
}

li {
  &:hover {
    scale: 1.01;
  }
}
