/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-light: #ffffff;
  --text-dark: #212121;
  --text-second-color: #757575;
  --accent-color: #2196f3;
  --second-bgcolor: #2f303a;
  --icon-color: #afb1b8;
}
